body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
.header{
    font-size: 30px;
    padding:0px
}
.p1{
    font-size:large;
}


.insights{
    font-size: 20px;
    text-align: left;
    margin-left: 60px;
    align-items: flex;
    
}
.video{
    margin-top:70px;
}
.main{
    display:flex;
    justify-content: space-around;
}
.table{
    margin-left: 500px;
    
}
.img{
    display:flex;
    justify-content: space-evenly;
    
}
.captions{
    display:flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right:190px;
    
}
.footer{
    background-color: rgb(41, 168, 151) ;
    justify-content: space-evenly;
}
.btn{
    padding:5px;
    width:200px;
    border:none;
    border-radius: 6px;
}